/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #BBBBBB;
    color: #839373;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    text-align: center;
    background-color: #9AAB89;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1 {
    font-size: 3em;
    margin: 0;
    color: #FFFFFF;
}

/* Estilo para la fecha */
p.date {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
}

/* Estilo para el mensaje "en construcción" */
p.under-construction {
    font-size: 1.5em;
    color: #FFFFFF;
    margin-top: 20px;
}