body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F0F0E8;
    color: #4A5A3F;
    text-align: center;
}
header {
    position: fixed;
    width: 100%;
    background: #BFD1B3;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header img {
    width: 100%;
    height: auto;
}
main {
    margin-top: 40px; /* Ajustado para que el main empiece pegado al header */
    padding: 20px;
}
a#maps-link {
    display: inline-block;
    margin-top: 10px;
    color: #2E4A2D;
    font-weight: bold;
    text-decoration: none;
    background: #AFC1A6;
    padding: 10px 15px;
    border-radius: 5px;
}
a#maps-link:hover {
    background: #94A98F;
    text-decoration: none;
}